html
{
    height: 100%;
}

body
{
    margin: 0;
    padding: 0;
    min-height: 100%;
}

#layout
{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    border-spacing: 0px;
    padding: 0px;
}

#form
{
    height: 100%;
}

#mandelbrot
{
    height: 100%;
}

td
{
    padding: 0px;
}

#generate
{
    margin-top: 20px;
}